.carousel-caption {
	top: 25% !important;
	font-family: 'Great Vibes', cursive !important;
	color: #000;
	font-size: 32px;
}
 .footer {
 	background: #262626;
    padding: 7em 0;
    color: #fff;
 }
 .text-reader {
 	height: 100% !important;
 	width: 100% !important;
 }
p {
 	text-indent: 50px;
 }