.carousel-caption {
	top: 25% !important;
	font-family: 'Great Vibes', cursive !important;
	color: #000;
}
.carousel-caption h2 {
	padding-top: 4vw;
	font-size: 6vw !important;
}
.carousel-indicators {
    bottom: 2vw !important;
}
 .footer {
 	background: #262626;
    padding: 7em 0;
    color: #fff;
 }
 .text-reader {
 	height: 100% !important;
 	width: 100% !important;
 }
p {
 	text-indent: 50px;
 }
 .top-banner{
 	background-image: url(../images/banner.jpg);
    background-position: bottom;
    background-size: cover;
    height: 45vw;
}
.top-banner h1{
	background-color: rgb(0, 0, 0, 0.4);
    font-size: 7vw;
    font-family: 'Great Vibes', cursive !important;
    height: inherit;
    padding-top: 21vw;   
}