.content1-left { 
	background-color: red;
	height: 400px;
 }
 .content1-center { 
	background-color: green;
	height: 400px;
 }
 .content1-right { 
	background-color: purple;
	height: 400px;
 }
 .footer {
 	background: #262626;
    padding: 7em 0;
    color: #fff;
 }